/* --- Custom dark theme colors --- */
[data-md-color-scheme="slate"] {
  --md-default-bg-color: #232426;
  --md-default-fg-color: #cccccc;
  --md-primary-fg-color: #ffa200;
  --md-accent-fg-color: #ffa200;

  --md-code-bg-color: #2c2d2f;
  --md-code-fg-color: #ffbb33;
  --md-footer-bg-color: #1f2022;
  --md-typeset-a-color: #ffa200;
}

[data-md-color-scheme="slate"] a:hover {
  color: #ffb733;
}

[data-md-color-scheme="default"] {
  --md-default-bg-color: #fdfaf6;
  --md-default-fg-color: #222222;
  --md-primary-fg-color: #ffa200;
  --md-accent-fg-color: #ffa200;

  --md-code-bg-color: #f4efe9;
  --md-code-fg-color: #d17f00;
  --md-footer-bg-color: #f1ede9;
  --md-typeset-a-color: #e08900;
}

[data-md-color-scheme="default"] a:hover {
  color: #b56c00;
}

/* ===============================
   PROJECT METADATA
   =============================== */

.md-typeset .project-meta {
  color: var(--md-default-fg-color--light);
  opacity: 1;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

.md-typeset .project-meta strong {
  color: inherit;
  font-weight: 600;
}


/* Optional: tighten spacing */
/*
.md-typeset .project-meta br {
  line-height: 1.2;
}
*/
